In [57]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer

In [58]:
rating_data = pd.read_csv('./data/ratings.txt', sep='\t', encoding='utf-8')

rating_data.head()

         id                                           document  label
0   8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1   8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2   4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3   9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4  10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1

In [59]:
X = rating_data['document']
y = rating_data['label']

In [60]:
doc_train, doc_test, y_train, y_test = train_test_split(X, y, random_state=123)

doc_train.shape, doc_test.shape, y_train.shape, y_test.shape

((150000,), (50000,), (150000,), (50000,))

In [61]:
stopword = ['은', '는', '이', '가']

In [62]:
X_train = []

for doc in doc_train:
    token = []
    try:
        words = doc.split()

        for word in words:
            if word not in stopword:
                token.append(word)
    except:
        pass
    
    X_train.append(token)

In [63]:
X_test = []

for doc in doc_test:
    token = []
    try:
        words = doc.split()

        for word in words:
            if word not in stopword:
                token.append(word)
    except:
        pass
    X_test.append(token)

In [64]:
# X_train 단어들을 토대로 정수 인덱스 설정, 전체 단어 갯수 설정
tokenizer = Tokenizer(5000)
tokenizer.fit_on_texts(X_train)

# 설정된 정수 인덱스를 토대로 변환
X_train = tokenizer.texts_to_sequences(X_train)
X_test = tokenizer.texts_to_sequences(X_test)

In [65]:
X_train[:3]

[[639, 237, 1932],
 [185, 6, 33, 923, 77],
 [1243, 1974, 119, 1060, 1284, 23, 913, 1044]]

In [66]:
type(X_train)

list

[639, 237, 1932]

In [ ]:
---나머지는 나중에