In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer

In [2]:
imdb_data = pd.read_csv('./data/IMDB_dataset.csv')

In [3]:
imdb_data['sentiment'] = imdb_data['sentiment'].replace('positive', 1).replace('negative', 0)

In [4]:
imdb_data.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [5]:
imdb_data.review = imdb_data.review.str.replace("[^\w]|br", " ")

In [6]:
imdb_data.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production            The f...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there s a family where a little boy ...          0
4  Petter Mattei s  Love in the Time of Money  is...          1

In [7]:
# 공백 제거
imdb_data['review'] = imdb_data['review'].replace("", np.nan)
imdb_data['sentiment'] = imdb_data['sentiment'].replace("", np.nan)

imdb_data = imdb_data.dropna(how='any')

In [8]:
imdb_data.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production            The f...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there s a family where a little boy ...          0
4  Petter Mattei s  Love in the Time of Money  is...          1

- preprocessing done

In [9]:
review_train, review_test, y_train, y_test = train_test_split(imdb_data['review'], imdb_data['sentiment'], random_state=23)

- split done

In [10]:
stopwords = ['a', 'the', 'an']

In [11]:
X_train = []
for stc in review_train:
    token = []
    words = stc.split()
    for word in words:
        if word not in stopwords:
            token.append(word)

    X_train.append(token)

In [12]:
X_test = []
for stc in review_test:
    token = []
    words = stc.split()
    for word in words:
        if word not in stopwords:
            token.append(word)

    X_test.append(token)

In [13]:
# X_train 단어들을 토대로 정수 인덱스 설정, 전체 단어 갯수 설정
tokenizer = Tokenizer(20000)
tokenizer.fit_on_texts(X_train)

# 설정된 정수 인덱스를 토대로 변환
X_train = tokenizer.texts_to_sequences(X_train)
X_test = tokenizer.texts_to_sequences(X_test)

print('# int_encoding done')

# int_encoding done