# Movie Recommendation

TMDB data

In [18]:
import pandas as pd 
import numpy as np 
from ast import literal_eval

In [19]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 1000)

In [20]:
movies = pd.read_csv('./data/tmdb_5000_movies.csv')
movies.head()

movies = movies.loc[:, ['title', 'genres', 'keywords']]
movies.head()

# str로 되어있는걸 dic로 변경
movies['genres'] = movies['genres'].apply(literal_eval)
movies['keywords'] = movies['keywords'].apply(literal_eval)

movies.head()

                                      title                                             genres                                           keywords
0                                    Avatar  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  [{'id': 1463, 'name': 'culture clash'}, {'id':...
1  Pirates of the Caribbean: At World's End  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...  [{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...
2                                   Spectre  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  [{'id': 470, 'name': 'spy'}, {'id': 818, 'name...
3                     The Dark Knight Rises  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...  [{'id': 849, 'name': 'dc comics'}, {'id': 853,...
4                               John Carter  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  [{'id': 818, 'name': 'based on novel'}, {'id':...

In [21]:
# name에 해당하는것만 가져오기
# 방법 1

# i = 0
# for row in movies['genres']:
#     genres = []
#     for ele in row:
#         genres.append(ele['name'])
#     movies['genres'][i] = genres
#     i += 1

In [22]:
# 방법 2
# dic => list
movies['genres'] = movies['genres'].apply(lambda x: [ele['name'] for ele in x])

movies['keywords'] = movies['keywords'].apply(lambda x: [ele['name'] for ele in x])

movies.head()

                                      title                                         genres                                           keywords
0                                    Avatar  [Action, Adventure, Fantasy, Science Fiction]  [culture clash, future, space war, space colon...
1  Pirates of the Caribbean: At World's End                   [Adventure, Fantasy, Action]  [ocean, drug abuse, exotic island, east india ...
2                                   Spectre                     [Action, Adventure, Crime]  [spy, based on novel, secret agent, sequel, mi...
3                     The Dark Knight Rises               [Action, Crime, Drama, Thriller]  [dc comics, crime fighter, terrorist, secret i...
4                               John Carter           [Action, Adventure, Science Fiction]  [based on novel, mars, medallion, space travel...

In [23]:
# [ 장르, 장르 ] => 장르 장르
# list => str
movies['genres'] = movies['genres'].apply(lambda x: ' '.join(x))
movies['keywords'] = movies['keywords'].apply(lambda x: ' '.join(x))

movies.head()

                                      title                                    genres                                           keywords
0                                    Avatar  Action Adventure Fantasy Science Fiction  culture clash future space war space colony so...
1  Pirates of the Caribbean: At World's End                  Adventure Fantasy Action  ocean drug abuse exotic island east india trad...
2                                   Spectre                    Action Adventure Crime  spy based on novel secret agent sequel mi6 bri...
3                     The Dark Knight Rises               Action Crime Drama Thriller  dc comics crime fighter terrorist secret ident...
4                               John Carter          Action Adventure Science Fiction  based on novel mars medallion space travel pri...

## TF-IDF