<a href="https://colab.research.google.com/github/Lagom92/study-in-school/blob/master/0706_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

예제 2

In [ ]:
n = int(input("숫자 입력: "))

print(n - n%100)

숫자 입력: 11111
11100

In [ ]:
# 초를 입력 받아 시 분 초 로 출력

sec = 3723

s = sec%60
m = (sec//60)%60
h = (sec//60)//60

f"{h}시 {m}분 {s}초"

'1시 2분 3초'

In [ ]:
time = 11

if time > 8:
  n = time - 8
  print(f"{8*5000 + (n*5000)*1.5}원")
else:
  print(f"{time*5000}원")

62500.0원

In [ ]:
a = [1, 2]

a*2

[1, 2, 1, 2]

In [ ]:
# 얕은 복사, 깊은 복사
a = [1, 2, 3]

b = a
print(a is b)
print(id(a), id(b))

b = a[:]
print(a is b)
print(id(a), id(b))

True
140627419595912 140627419595912
False
140627419595912 140627429732872

In [ ]:
arr = [1, 2, 3, 4, 5]

idx = arr.index(5)
arr[idx] = 7

idx = arr.index(2)
arr[idx] = ['a', 'b', 'c']


arr[3:] = 'd','e','f','g'
arr

[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [ ]:
array = [[1, 2], [3, 4], [5, 6]]

for arr in array:
  for i in arr:
    print(i)

1
2
3
4
5
6

In [ ]:
# for문을 사용하여 96에서 53까지 출력하시오.
for i in range(96, 54, -1):
  # print(i)

# for문을 사용하여 21에서 57까지의 수 중 홀수만 출력하시오.


# 정수를 입력 받아 1부터 입력 받은 정수까지 차례대로 출력하는 프로그램을 작성하시오.

In [ ]:
# 1~100까지 3의 배수의 합을 출력하세요. (1683)
res = 0
for i in range(1, 101):
  if i%3 == 0:
    res += i

print(res)

1683

In [ ]:
for i in range(1, 6):
  print('*'*i)

*
**
***
****
*****

In [ ]:
# num2가 num1의 약수인지 확인하기

def isDivisor(a, b):
  if a == 0:
    return False

  if b%a:
    return False
  else:
    return True


num1 = 5
num2 = 10
res = isDivisor(num1, num2)
print(res)

num1 = 3
num2 = 10
res = isDivisor(num1, num2)
print(res)

num1 = 0
num2 = 10
res = isDivisor(num1, num2)
print(res)

True
False
False

In [ ]:
# 약수들을 구하기

num = 24
def getDivisor(num):
  res = []
  print(f"{num}의 약수: ", end=" ")
  for i in range(1, num+1):
    if isDivisor(i, num):
      res.append(i)

  return res

getDivisor(num)

24의 약수:

[1, 2, 3, 4, 6, 8, 12, 24]

In [ ]:
start = 10
end = 16

def getDivisorRange(start, end):
  for i in range(start, end+1):
    res = getDivisor(i)
    print(res)

getDivisorRange(start, end)

10의 약수:  [1, 2, 5, 10]
11의 약수:  [1, 11]
12의 약수:  [1, 2, 3, 4, 6, 12]
13의 약수:  [1, 13]
14의 약수:  [1, 2, 7, 14]
15의 약수:  [1, 3, 5, 15]
16의 약수:  [1, 2, 4, 8, 16]

클래스, 객체, 인스턴스

In [ ]:
class Flight:

    def __init__(self): # 초기화자
        print('init')
        super().__init__()
        self._name = 'SN060' # 내부 변수임을 약속(_싱글 언더바)
        self.__hp = 1000    # 비공개 속성(__더블 언더바)

    def __new__(cls):  # 생성자
        print('new')
        return super().__new__(cls)

    def number(self):
        return self._name


f = Flight() # 생성자(constructor)
f._name

new
init

'SN060'

실행 순서가 new 다음 init이 실행된다.

In [ ]:
class Human:
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

  def who(self):
    print(f"이름: {self.name}, 나이: {self.age}, 성별: {self.gender}") 

  def setinfo(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

  def __del__(self):
    print("나의 죽음을 알리지 말라")

gildong = Human("홍길동", 25, "남자")
print(gildong.age)

나의 죽음을 알리지 말라
25

In [ ]:
gildong.who()

이름: 홍길동, 나이: 25, 성별: 남자

In [ ]:
gildong.setinfo("홍길동", "모름", "모름")

In [ ]:
del gildong

나의 죽음을 알리지 말라

In [ ]:
class Stock():
  def __init__(self, name, code):
    self.name = name
    self.code = code

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code

  def get_name(self):
    return self.name

  def get_code(self):
    return self.code

In [ ]:
samsung = Stock("삼성전자", "005930")
samsung.name, samsung.code

('삼성전자', '005930')

In [ ]:
a = Stock(None, None)
a.set_name("삼성전자")
a.name, a.code

('삼성전자', None)

In [ ]:
a.set_code("005930")
a.name, a.code

('삼성전자', '005930')

In [ ]:
res = a.get_name()
print(res)
res = a.get_code()
print(res)

삼성전자
005930