### 어제꺼 복습

- python에서 sqlite3 연동하기

In [1]:
import sqlite3

In [5]:
db_path = r'c:\Apps\database\world.db'

conn = sqlite3.connect(db_path)
cur = conn.cursor()
sql = "select * from city limit 10 offset 10"
cur.execute(sql)
rows = cur.fetchall()
for r in rows:
    print(r)

conn.close()

(11, 'Groningen', 'NLD', 'Groningen', 172701)
(12, 'Breda', 'NLD', 'Noord-Brabant', 160398)
(13, 'Apeldoorn', 'NLD', 'Gelderland', 153491)
(14, 'Nijmegen', 'NLD', 'Gelderland', 152463)
(15, 'Enschede', 'NLD', 'Overijssel', 149544)
(16, 'Haarlem', 'NLD', 'Noord-Holland', 148772)
(17, 'Almere', 'NLD', 'Flevoland', 142465)
(18, 'Arnhem', 'NLD', 'Gelderland', 138020)
(19, 'Zaanstad', 'NLD', 'Noord-Holland', 135621)
(20, '´s-Hertogenbosch', 'NLD', 'Noord-Brabant', 129170)

- 상수를 받아서 사용

- ? 사용, 튜플 사용

In [6]:
db_path = r'c:\Apps\database\world.db'

conn = sqlite3.connect(db_path)
cur = conn.cursor()
sql = "select * from city limit ? offset ?"
cur.execute(sql, (10, 10))
rows = cur.fetchall()
for r in rows:
    print(r)

conn.close()

(11, 'Groningen', 'NLD', 'Groningen', 172701)
(12, 'Breda', 'NLD', 'Noord-Brabant', 160398)
(13, 'Apeldoorn', 'NLD', 'Gelderland', 153491)
(14, 'Nijmegen', 'NLD', 'Gelderland', 152463)
(15, 'Enschede', 'NLD', 'Overijssel', 149544)
(16, 'Haarlem', 'NLD', 'Noord-Holland', 148772)
(17, 'Almere', 'NLD', 'Flevoland', 142465)
(18, 'Arnhem', 'NLD', 'Gelderland', 138020)
(19, 'Zaanstad', 'NLD', 'Noord-Holland', 135621)
(20, '´s-Hertogenbosch', 'NLD', 'Noord-Brabant', 129170)

- 함수로 만들기

In [8]:
def print_city(count, start_id):
    db_path = r'c:\Apps\database\world.db'

    conn = sqlite3.connect(db_path)
    cur = conn.cursor()
    sql = "select * from city limit ? offset ?"
    cur.execute(sql, (count, start_id))
    rows = cur.fetchall()
    for r in rows:
        print(r)

    conn.close()
    
print_city(5, 10)

(11, 'Groningen', 'NLD', 'Groningen', 172701)
(12, 'Breda', 'NLD', 'Noord-Brabant', 160398)
(13, 'Apeldoorn', 'NLD', 'Gelderland', 153491)
(14, 'Nijmegen', 'NLD', 'Gelderland', 152463)
(15, 'Enschede', 'NLD', 'Overijssel', 149544)

- ? 대신 딕셔너리 사용

In [9]:
def print_city(count, start_id):
    db_path = r'c:\Apps\database\world.db'

    conn = sqlite3.connect(db_path)
    cur = conn.cursor()
    sql = "select * from city limit :count offset :start_id"
    cur.execute(sql, {'count': count, 'start_id': start_id})
    rows = cur.fetchall()
    for r in rows:
        print(r)

    conn.close()
    
print_city(5, 10)

(11, 'Groningen', 'NLD', 'Groningen', 172701)
(12, 'Breda', 'NLD', 'Noord-Brabant', 160398)
(13, 'Apeldoorn', 'NLD', 'Gelderland', 153491)
(14, 'Nijmegen', 'NLD', 'Gelderland', 152463)
(15, 'Enschede', 'NLD', 'Overijssel', 149544)