In [1]:
# 나중에 사용할 모듈들
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import sklearn

## Python에서의 접근

- 커서(cursor) 객체를 만들고 SQL 커맨드를 쉽게 처리할 수 있다.

In [2]:
import sqlite3

In [3]:
sqlite3.version

'2.6.0'

In [4]:
# db 경로
db_path = r"c:\Apps\database\world.db"

In [5]:
conn = sqlite3.connect(db_path)

cur = conn.cursor()
cur.execute("select * from country limit 5")
rows = cur.fetchall() # 한 행씩 값을 가져옴

for r in rows:
    print(r)


conn.close()

('ABW', 'Aruba', 'North America', 'Caribbean', 193.0, None, 103000, 78.4, 828.0, 793.0, 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW')
('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 22720000, 45.9, 5976.0, None, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Mohammad Omar', 1, 'AF')
('AGO', 'Angola', 'Africa', 'Central Africa', 1246700.0, 1975, 12878000, 38.3, 6648.0, 7984.0, 'Angola', 'Republic', 'José Eduardo dos Santos', 56, 'AO')
('AIA', 'Anguilla', 'North America', 'Caribbean', 96.0, None, 8000, 76.1, 63.2, None, 'Anguilla', 'Dependent Territory of the UK', 'Elisabeth II', 62, 'AI')
('ALB', 'Albania', 'Europe', 'Southern Europe', 28748.0, 1912, 3401200, 71.6, 3205.0, 2500.0, 'Shqipëria', 'Republic', 'Rexhep Mejdani', 34, 'AL')

In [6]:
conn = sqlite3.connect(db_path)

cur = conn.cursor()
# sql = "select * from country where continent=? and region=? limit 5"
sql = "select count(*) from city"

# cur.execute(sql, ('Asia', 'Middle East'))
cur.execute(sql)

rows = cur.fetchall() # 한 행씩 값을 가져옴

for r in rows:
    print(r)


conn.close()

(4079,)

- '?' 를 사용하여 편리하게 외부 입력을 받을 수 있다.

In [7]:
# country의 기준값이상 기준값 이하일 때의 name, population 출력

conn = sqlite3.connect(db_path)

cur = conn.cursor()
sql = "select name, population as p from country where p between ? and ?"
cur.execute(sql, (5000, 10000))

rows = cur.fetchall() # 한 행씩 값을 가져옴
for r in rows:
    print(r)

conn.close()

('Anguilla', 8000)
('Saint Helena', 6000)
('Saint Pierre and Miquelon', 7000)

In [8]:
# 메소드로 만들기
def print_pop_range(start, end):
    conn = sqlite3.connect(db_path)

    cur = conn.cursor()
    sql = "select name, population as p from country where p between ? and ?"
    cur.execute(sql, (start, end))

    rows = cur.fetchall() # 한 행씩 값을 가져옴
    for r in rows:
        print(r)

    conn.close()

In [9]:
print_pop_range(5000, 10000)

('Anguilla', 8000)
('Saint Helena', 6000)
('Saint Pierre and Miquelon', 7000)

- '?' 대신 딕셔너리를 이용하는 방법

- 순서가 바껴도 key를 이용하는것이기 때문에 상관없다.

In [10]:
# 메소드로 만들기
def print_pop_range(start, end):
    conn = sqlite3.connect(db_path)

    cur = conn.cursor()
    sql = "select name, population as p from country where p between :start and :end"
    cur.execute(sql, {"start":start, "end":end})

    rows = cur.fetchall() # 한 행씩 값을 가져옴
    for r in rows:
        print(r)

    conn.close()